.content {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: aqua;
}

#img-1 {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none
}

#img-2 {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.valid-content {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

#validation {
    height: 20px;
    margin: 7px;
}

#error {
    color: red;
    font-size: 15px;
    margin: 7px;
}